html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto','sans-serif' !important;
}

#map { 
    height: 100%; 
}
/* The margins/width in pixels allows us to center the absolute positioned div inside the body */
#places { 
    position: absolute; 
    width: 250px; 
    top: 10%; 
    left: 1%;
    z-index: 5; 
    background-color: #fff; 
    padding: 5px; 
    border: 1px solid #aaa;
}

#options {
    position: relative;
    text-align: center;
    width: 100%;
    color: black;
}

#search {
    position: absolute;
    top: 75%;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 5px; 
    border: 1px solid #aaa;
}

#location-div, #range-div {
    padding: 5px;
    margin-bottom: 2px;
}

#search input {
    float: right;
}

#more-btn {
    position: absolute;
    top: 15%;
    left: 85%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #aaa;
}