html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map { 
    height: 100%; 
}
/* The margins/width in pixels allows us to center the absolute positioned div inside the body */
#places { 
    position: absolute; 
    width: 250px; 
    top: 10%; 
    left: 1%;
    z-index: 5; 
    background-color: #fff; 
    padding: 5px; 
    border: 1px solid #aaa;
    font-family: 'Roboto','sans-serif' !important;
}

#options {
    position: relative;
    text-align: center;
    width: 100%;
    color: black;
}

#search-options {
    position: absolute;
    top: 85%;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 5px; 
    border: 1px solid #aaa;
    font-family: 'Roboto','sans-serif' !important;
}

/* This will take care of our upside down caret */
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}